:root {
	--system-ui:
		Roboto, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol";
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	line-height: calc(1em + 0.5rem);
}

html {
	width: 100%;
	height: 100%;
}

body {
	-webkit-font-smoothing: antialiased;
	font-family: var(--system-ui);
	min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

#container {
	border: solid black 1px;
	display: grid;
	gap: 8px;
	padding: 2em;
	justify-content: center;
}

#container div {
	display: flex;
	gap: 2em;
	justify-content: space-between;
}

#container div div {
	display: block;
	gap: 0px;
}

p * {
	display: block;
}

input {
	appearance: none;

	width: 100%;
	border: 1px solid #333;
	margin: 0;

	font-family: inherit;
	font-size: 90%;

	box-sizing: border-box;
}

/* invalid fields */
input:invalid {
	border-color: #900;
	background-color: #fdd;
}

input:focus:invalid {
	outline: none;
}

/* input valid */

input:valid {
	background-color: white;
	border: 3px solid;
	border-color: #298700;
}

input:focus:valid {
	outline: none;
}

/* error message styles */
.error {
	max-width: 10rem;
	width: 100%;
	padding: 0;
	display: none;

	font-size: 80%;
	color: white;
	background-color: #900;
	border-radius: 0 0 5px 5px;

	box-sizing: border-box;
}

.error.active {
	padding: 0.3em;
	display: block;
}
